body{
    margin:0 auto;
    height:100vh;
}

main{
    position:relative;
    width: 100vw;
    height:100vh;

}

.chessboard{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% , -50%);
    width:150px;
    height:150px;
    border:2px solid black;
}

.field{
    position:absolute;
    width:50px;
    height:50px;
}

.field:nth-child(odd){
    background-color:white;
    text-align:center;
}
.field:nth-child(even){
    background-color:black;
    color:white;
    text-align:center;
}

.one{
    top:0px;
    left:0px;

}
.two{
    top:0px;
    left:50px;

}

.three{
    top:0px;
    left:100px;
}

.four{
    top:50px;
    left:0px;
}

.five {
    top: 50px;
    left:50px;
}

.six{
    top: 50px;
    left:100px;
}

.seven{
    top:100px;
    left:0px;
}

.eight{
    top:100px;
    left:50px;
}

.nine{
    top: 100px;
    left:100px;
}